@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: #e3e2df;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 23px 0px 21px;
}
.logo {
  max-height: 90px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #5d001e;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #9a1750;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #9a1750;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.btn {
  color: #5d001e;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 50% 50%;
  background: #9a1750;
  border: 2px solid #9a1750;
}
.btn:hover {
  background: transparent;
  border-color: #9a1750;
  color: #9a1750;
}
