.banner {
  display: flex;
  background-color: #9a1750;
  color: white;
  height: 25%;
}
.banner-text {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.banner-stats {
  width: 16.67%;
}
.resp-text {
  display: none;
}
@media only screen and (max-width: 1081px) {
  .teach,
  .stud {
    display: none;
  }
  .ment {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 722px) {
  .teach,
  .stud,
  .ment,
  .banner-text {
    display: none;
  }
  .resp-text {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 345px) {
  .resp-text {
    font-size: 0.5rem;
  }
}
